<h2>CONSENT TO PARTICIPATE</h2>
<p>I CONSENT to the Participant’s voluntary participation in the Activities. I give permission for the Participant to engage in activities that include but are in no way limited to playing or watching basketball games and volleyball matches, participating in related practices, and traveling to and from the sites where athletic events attended by the Eau Claire Shamrocks are held.</p>

<h2>ACKNOWLEDGMENT AND ACCEPTANCE OF RISKS AND RESPONSIBILITIES</h2>
<p>I UNDERSTAND AND ACKNOWLEDGE that the Activities bear certain anticipated and unanticipated risks which could result in INJURY, DEATH, ILLNESS, DISEASE, OR PHYSICAL OR MENTAL DAMAGE to the Participant, property, spectators or Eau Claire Shamrocks, or claims against me by spectators or third parties. I expressly agree to accept and assume all responsibility and risks arising from the Participant’s participation in the Activities. The Participant’s participation in this activity is purely voluntary; no one is forcing the Participant to participate in spite of the known and unknown risks.</p>

<h2>RELEASE</h2>
<p>I VOLUNTARILY RELEASE AND FOREVER DISCHARGE AND COVENANT NOT TO SUE the Eau Claire Shamrocks and all other persons or entities affiliated with them, from any and all liability, claims, demands, actions or right of action, which are related to, arise out of or are in any way connected with the Participant’s participation in the Activities, including but not specifically limited to any and all negligence, fault or strict liability of Eau Claire Shamrocks, and all other persons or entities, for any and all injury, death, illness or disease, and damage to the Participant or to any property.</p>

<p>I AGREE, PROMISE AND COVENANT TO HOLD HARMLESS AND TO INDEMNIFY the Eau Claire Shamrocks and all other persons or entities affiliated with them from all defense costs, including attorney’s fees, or from any other costs incurred in connection with claims for bodily injury or property damage which the Participant may negligently or intentionally cause to spectators or third parties in the course of the Participant’s participation in the Activities.</p>

<h2>ACKNOWLEDGMENT OF EFFECT OF THIS RELEASE AGREEMENT</h2>
<p>I UNDERSTAND AND ACKNOWLEDGE that by signing this document I have given up certain legal rights and/or possible claims which I might otherwise assert or maintain against Eau Claire Shamrocks and other persons or entities, including specifically, but not limited to, rights arising from or claims for the acts or omissions, fault, negligence in any degree of Eau Claire Shamrocks, its agents or employees, and all other persons or entities.</p>

<p>I UNDERSTAND AND ACKNOWLEDGE that the terms herein are contractual and not a mere recital, and that I have signed this document of my own free act.</p>

<h2>PARTICIPANT INSURANCE BENEFITS AND REPRESENTATION OF PHYSICAL CONDITIONS</h2>
<p>I UNDERSTAND AND ACKNOWLEDGE that no medical insurance benefits will be provided to the Participant during the Activities. I CERTIFY that the Participant has sufficient health, accident and personal liability insurance to cover any bodily injury, property damage or disablement which I may incur and to cover bodily injury or property damage caused to a third party as a result of the Participant’s participation in the Activities. If the Participant has no such insurance, I certify that I am capable of personally paying for any and all such expenses or liability.</p>

<p>I FURTHER ACKNOWLEDGE that the Participant is in good physical and mental health, and not suffering from any condition, disease or disablement which would or could potentially affect participation in the Activities.</p>

<h2>CONSENT FOR MEDICAL TREATMENT</h2>
<p>I HEREBY give my consent for emergency medical care provided by a Doctor of Medicine, Doctor of Dentistry or other medical or urgent care personnel. This care may be given under whatever conditions are considered necessary to preserve the life, limb or well-being of Participant.</p>

<h2>CONCUSSION LAW AGREEMENT</h2>
<p>I UNDERSTAND AND ACKNOWLEDGE, as a Parent or Legal Guardian and as a Participant, it is important to recognize the signs, symptoms and behaviors of concussions. By signing this form I am stating that I understand the importance of recognizing and responding to the signs, symptoms, and behaviors of a concussion or head injury. This form must be completed for every sports season and for every youth athletic organization the Participant is involved with.</p>

<p>I HAVE READ the <%= link_to 'Parent Concussion and Head Injury Information', 'https://cdn1.sportngin.com/attachments/document/0154/4884/ParentAthleteConcussionInformation.pdf#_ga=2.169968035.2061931277.1632796927-1813814496.1629932158', target: "_blank" %> and understand what a concussion is and how it may be caused. I also understand the common signs, symptoms, and behaviors. I agree that the Participant must be removed from practice/play if a concussion is suspected. I understand that it is my responsibility to seek medical treatment if a suspected concussion is reported to me and that the Participant cannot return to practice/play until providing written clearance from an appropriate health care provider to his/her coach. I understand the possible consequences of the Participant returning to practice/play too soon.</p>

<p>If I am a COACH of a team, I have read the <%= link_to 'Coaches Concussion and Head Injury Information', 'https://cdn1.sportngin.com/attachments/document/0154/4884/ParentAthleteConcussionInformation.pdf#_ga=2.169968035.2061931277.1632796927-1813814496.1629932158', target: "_blank" %> and understand what a concussion is and how it may be caused. I also understand what the signs, symptoms, and behaviors are and agree to remove the athlete from practice/play if exhibited and/or a concussion is suspected. I understand that it is my responsibility to inform the parents/guardian if I suspect a concussion or if a suspected concussion is reported to me and that the athlete cannot return to practice or play before providing me with written clearance from an appropriate health care provider. I understand the possible consequences of an athlete returning to practice/play too soon.</p>

<h2>AGREEMENT</h2>
<p>I UNDERSTAND that this is the entire Agreement between the undersigned and Eau Claire Shamrocks, its agents and employees, and that it cannot be modified or changed in any way by the representations or statements of Eau Claire Shamrocks or any volunteer, employee or agent of Eau Claire Shamrocks, or by the undersigned. This Agreement shall remain in full force and effect until specifically revoked prospectively; to be effective, such revocation must be in writing and delivered to Eau Claire Shamrocks</p>
