<div class="mt-3 sr-content">
  <h1>About Us</h1>
  <p>The Eau Claire Shamrocks basketball club is a traveling basketball program dedicated to providing quality
    instruction and challenging competition for children in the 4th – 8th grade levels. We focus on individual and team
    fundamentals to motivate and facilitate player growth.</p>
  <h2>Who Can Participate</h2>
  <p>Children in grades 4-8 during the 2018 -2019 season, who attend the Regis Catholic Schools, are eligible to
    participate. We are looking for children who are interested in developing strong fundamental basketball skills and
    playing on a fall/winter travel team. The teams will consist of no more than ten players; if there is enough
    interest, an additional team will be added or other arrangements made. The goal of the organization is to find a
    spot so that all interested children have an opportunity to play.</p>
  <p>Generally, practices will be held two times per week and tournaments will run opposite the Regis School season,
    along with the State Tournament if invited. This schedule will allow all players to participate in the Regis School
    basketball season if interested. Players are expected to commit to attending team practices as well as four to seven
    weekend tournaments. Because gym reservations for the ECASD are not accepted before June 1, practice times will be
    announced after July 1 with no Sunday practices. Tournaments are usually within two hours of travel from Eau Claire
    and carpooling is encouraged. Tournament schedules are announced by the first week of October.</p>
  <h2>Cost</h2>
  <p>All participants will <%= link_to 'register online', new_registration_path %>. The fee is <strong>$50 for 4th
      grade, $100 for 5th &amp; 6th grade</strong> participants and <strong>$150 for 7th &amp; 8th grade</strong>
    participants. The registration fee covers the cost of tournaments, gym rentals, and a medical kit assuming 10
    players on a team. Given this assumption, we expect this amount to be adequate. However on a team-by-team basis
    there may be certain additional costs such as uniforms, if needed, and if a team chooses to do so, reimbursement of
    certain travel or miscellaneous expenses incurred by coaches. The organization expects that the additional expenses
    would not exceed $150 per player. Some funding will be available for those unable to meet the financial
    requirements. We are making every effort to keep the cost to participate reasonable.</p>
  <p>The Eau Claire Shamrocks is a new organization that depends on volunteers to make it successful.
    Each family will be expected to participate in a volunteer capacity to support the organization each year. (Examples
    to include coaching, scheduling, book keeping, fundraising, working at tournaments, etc.).</p>
  <h2>Playing Time</h2>
  <p>The EC Shamrocks organization believes that every player earns playing time through hard work at practice, having a
    positive attitude, and being a team player. Therefore, coaches will make every effort to stay within these playing
    time guidelines during regular tournament play:</p>
  <ul>
    <li>4th &amp; 5th Grade: Focus is on fundamentals and team development. For players who attend practice, participate
      and follow the coach’s expectations, every effort will be given to have equal playing time during tournaments.
    </li>
    <li>6th Grade: Focus is on fundamentals, team development and competition. All players will be given the opportunity
      to play in each quarter in every game. As the season progresses and the focus moves toward competition, playing
      time may vary slightly based on coaching discretion.</li>
    <li>7th Grade: Competition is the focus at this level. All players will be given the opportunity to play in each
      half of every game, with each player playing at least one quarter each game; however, time may vary due to game
      situations. Within these guidelines, playing time is at the coach’s discretion.</li>
    <li>8th Grade: Competition is the focus at this level. All players will be given the opportunity to play in every
      game, with each player playing at least one quarter each game; however, time may vary due to game situations.
      Within these guidelines, playing time is at the coach’s discretion.</li>
  </ul>
  <h2>Participation</h2>
  <p>If your child is interested in participating in the EC Shamrocks, please contact us at
    <%= mail_to "info@ecshamrocksbasketball.com", "info@ecshamrocksbasketball.com"%>
  </p>
  <p>We are looking forward to a great upcoming season and a positive experience for all players!</p>
</div>
