<div>
  <%= image_tag asset_pack_path('media/images/home-page-main-logo.png'), width: "100%" %>
</div>

<div class="mt-3 text-center sr-content">
  <h1>Home of the Eau Claire Shamrocks Basketball Club</h1>

  <h2>Registration is Open!</h2>
  <p>
    <%= link_to 'Register' , new_registration_path, class: "btn btn-success btn-lg" %>
  </p>
  <p>The Eau Claire Shamrocks basketball club is a traveling basketball program dedicated to providing quality
    instruction and challenging competition for children in the 4th – 8th grade levels. We focus on individual and team
    fundamentals to motivate and facilitate player growth.
  </p>
  <%= link_to 'Learn More' , about_path, class: "btn btn-primary" %>
    <%= link_to 'Mailing List' , mailing_list_path, class: "btn btn-primary" %>
</div>