<div class="page-header-image grid-container grid-parent">
  <%= image_tag asset_pack_path('media/images/home-page-main-logo.png'), class: "", sizes: "(max-width: 1100px) 100vw, 1100px" %>
</div>

<div id="page" class="hfeed site grid-container container grid-parent">
  <div id="content" class="site-content">

    <div id="primary" class="content-area grid-parent grid-100 tablet-grid-100">
      <main id="main" class="site-main" itemprop="mainContentOfPage" role="main">


        <article id="post-4" class="post-4 page type-page status-publish has-post-thumbnail hentry"
          itemtype="http://schema.org/CreativeWork" itemscope="itemscope">
          <div class="inside-article">
            <header class="entry-header">
              <h1 class="entry-title" itemprop="headline">Home of the Eau Claire Shamrocks Basketball Club</h1>
            </header>
            <div class="entry-content" itemprop="text">
              <div style="text-align: center;">
                <h1>Registration is Open!</h1>
                <p><a class="button green" href="http://www.ecshamrocksbasketball.com/registration/">Register</a>
                </p>
              </div>
              <p>The Eau Claire Shamrocks basketball club is a traveling basketball program dedicated&nbsp;to providing
                quality instruction and challenging competition for children in the 4th – 8th&nbsp;grade levels.&nbsp;
                We focus on individual and team fundamentals to motivate and facilitate&nbsp;player growth.</p>
              <p><a class="button blue" style="margin-right: 10px;"
                  href="http://www.ecshamrocksbasketball.com/about-us/">Learn More</a>
                <a class="button green" href="http://www.ecshamrocksbasketball.com/mailing-list">Join our Mailing
                  List</a></p>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>
</div>
