<div style="text-align: center;">

  <h1>Registration is Open!</h1>
  <a class="button green" href="http://www.ecshamrocksbasketball.com/registration/">Register</a>
</div>

The Eau Claire Shamrocks basketball club is a traveling basketball program dedicated to providing quality instruction
and challenging competition for children in the 4th - 8th grade levels.  We focus on individual and team fundamentals to
motivate and facilitate player growth.

<a class="button blue" style="margin-right: 10px;" href="http://www.ecshamrocksbasketball.com/about-us/">Learn
  More</a><a class="button green" href="http://www.ecshamrocksbasketball.com/mailing-list">Join our Mailing List</a>
