<div class="mt-3 sr-content">
  <h1>Teams</h1>
  <p>The Shamrocks has girls teams for 4th – 8th graders, and boys teams for 4th, 5th, and 7th graders in the RCS
    system. Please contact us at
    <%= mail_to "mailto:info@ecshamrocksbasketball.com", "info@ecshamrocksbasketball.com", target: '_blank' %> for
    more information.</p>

</div>
