body {
  background-color: #00703c;
  color: #3a3a3a;
  font-size: 15px;
  background-image: url('../images/cloverleaf_1600.png');
  background-repeat: no-repeat;
  background-position: top center;
}

body, button, input, select, textarea {
  font-family: 'Open Sans', sans-serif;
  // font-family: "FontAwesome" sans-serif;
  font-weight: normal;
  text-transform: none;
  font-size: 17px;
}

.footer {
  background-color: black;
  color: white;
  a {
    color: white;
    &:hover {
      text-decoration: none;
      color: lightgray;
    }
  }
}

.sr-main-width {
  max-width: 1100px;
}

.sr-content {
  background-color: white;
  color: black;
  padding: 20px;
}

.sr-site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

a.sr-nav-link, a.sr-nav-link-with-sub {
  font-size: 20px;
  color: white;
  font-weight: bold;
  padding: 15px;
  // line-height: 40px;
  &:hover {
    text-decoration: none;
    background-color: #3f3f3f;
  }
}

a.sr-nav-link-with-sub::after {
  content: '';
  position: relative;
  top: 12px;
  left: 0.5em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: inherit;
}

.sr-nav-item {
  padding-top: 5px;
  list-style: none;
  line-height: 51px;
}

.sr-dropdown-menu {
  background-color: #3f3f3f;
}

a.sr-dropdown-item {
  display: block;
  width: 100%;
  font-size: 14px;
  color: white;
  padding: 0px 0.5rem;
  white-space: nowrap;
  &:hover {
    background-color: #4f4f4f;
    color: white;
    text-decoration: none;
  }
}

#js-uniform-info {
  display: none;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.left-paragraph {
  p {
    text-align: left;
  }
}
