<footer class="footer mt-3 py-3 text-center">
  <div class="container">
    <span class="copyright">Copyright © 2021</span>
    <span>
      <%= "&#183;" .html_safe %>
    </span>
    <span>
      <%= mail_to "mike@hoitomt.com" , "Hoitomt Software" %>
    </span>
  </div>
</footer>