<header>
  <div class="inside-header grid-container grid-parent">
    <div class="site-logo">
      <%= link_to root_path do %>
      <%= image_pack_tag 'header-logo-long-120px.png', class: 'header-image', alt: 'Eau Claire Shamrocks', title: 'Eau Claire Shamrocks' %>
      <% end %>
    </div>
  </div>
</header>
